<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs') %>
<body>
    <%- include('./components/nav.ejs') %>
    
    <div class="contain">
        <h1 class="dashboard_title">Course Cart</h1>
        <div class="dashboard_header">
            <h2 class="header_title">Cart</h2>
            <div class="cart_actions">
                <a href="/students" class="header_button center">Back to Dashboard</a>
                <a href="/cart/enroll" class="header_button center button_update">Enroll</a>
            </div>
        </div>
        <div class="dashboard_courseContainer">
            <% if (courses.length > 0) { %>
                <% courses.forEach(course => { %>
                    <div class="courseContainer_course">
                        <h3 class="course_title"><%= course.title %></h3>
                        <div class="course_details">
                            <p><span class="bold">Code:</span> <%= course.code %></p>
                            <p><span class="bold">Credits:</span> <%= course.credits %></p>
                        </div>
                        <p class="course_description"><%= course.description %></p>
                        <div class="course_actions">
                            <a href="/cart/remove/<%= course._id %>" class="action_button button_delete">Remove from Cart</a>
                        </div>
                    </div>
                <% }) %>
            <% } else {%>
                <p>There are no courses in your cart.</p>
            <% } %>
        </div>
    </div>
</body>
</html>