<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs') %>
<body>
    <%- include('./components/nav.ejs') %>
    
    <div class="contain">
        <h1 class="dashboard_title">Update a Course</h1>
        <div class="center">
            <form class="form" action="/courses/update" method="POST">
                <input type="hidden" name="id" value="<%= course._id %>">
                <div>
                    <label for="title">Course Title:</label>
                    <input type="text" name="title" id="title" placeholder="Title" value="<%= course.title %>">
                </div>
                <div class="form_group">
                    <div>
                        <label for="code">Course Code:</label>
                        <input type="text" name="code" id="code" placeholder="Code" value="<%= course.code %>">
                    </div>
                    <div>
                        <label for="credits">Course Credits:</label>
                        <input type="number" name="credits" id="credits" placeholder="Credits" value="<%= course.credits %>">
                    </div>
                </div>
                <div>
                    <label for="description">Description:</label>
                <textarea name="description" id="description" placeholder="Description of Course"><%= course.description %></textarea>
                </div>
                <div class="center">
                    <button type="submit" class="form_button">Update Course</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>